---
import IndexLayout from '@/layouts/IndexLayout.astro';
---
<IndexLayout project="learning-docs">
  <ul>
    {/* File rows go here. Folder row:
        <li>
          <div class="folder-row">
            <span class="icon"><svg viewBox="0 0 24 24"><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg></span>
            src/
          </div>
          <ul>... child rows ...</ul>
        </li>

       Done file row (clickable):
        <li>
          <a class="file-row" href="/src/main.py/">
            <span class="icon"><svg viewBox="0 0 24 24"><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zM6 20V4h7v5h5v11H6z"/></svg></span>
            main.py
            <span class="chip done">done</span>
          </a>
        </li>

       Todo file row (not clickable):
        <li>
          <div class="file-row todo">
            <span class="icon"><svg viewBox="0 0 24 24"><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zM6 20V4h7v5h5v11H6z"/></svg></span>
            helpers.py
            <span class="chip">todo</span>
          </div>
        </li>
    */}
  </ul>
</IndexLayout>
